<footer class="footer">
  <div class="container-footer">
    <div class="footer-top">
      <a href="/src/index.html" class="footer-logo-link">
        <img
          src="/img/logo.svg"
          alt="logo"
          width="280"
          height="121"
          class="footer-logo"
        />
      </a>
        <ul class="footer-top-list">
        <li class="footer-top-item">
          <a href="#hero" class="footer-nav-link">Про нас</a>
        </li>
        <li class="footer-top-item">
          <a href="#advantages" class="footer-nav-link"
            >Переваги</a
          >
        </li>
        <li class="footer-top-item">
          <a href="#product" class="footer-nav-link"
            >Асортимент</a
          >
        </li>
        <li class="footer-top-item">
          <a href="#gallery" class="footer-nav-link"
            >Галерея</a
          >
        </li>
        <li class="footer-top-item">
          <a href="#reviews" class="footer-nav-link"
            >Відгуки</a
          >
        </li>
        <li class="footer-top-item">
          <a href="#contact" class="footer-nav-link"
            >Контакти</a
          >
        </li>
      </ul>
      <div class="footer-socials-box">
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a href="https://www.instagram.com/" class="footer-social-link" target="_blank">
              <svg class="footer-socials-icon" width="32" height="32">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a href="https://www.linkedin.com" class="footer-social-link" target="_blank">
              <svg class="footer-socials-icon" width="32" height="32">
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a href="https://www.youtube.com" class="footer-social-link" target="_blank">
              <svg class="footer-socials-icon" width="32" height="32">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="footer-socials-list">
          <li class="footer-socials-item-big">
            <a href="https://www.instagram.com/" class="footer-social-link" target="_blank">
              <svg class="footer-socials-icon" width="40" height="40">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item-big">
            <a href="https://www.linkedin.com" class="footer-social-link" target="_blank">
              <svg class="footer-socials-icon" width="40" height="40">
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item-big">
            <a href="https://www.youtube.com" class="footer-social-link" target="_blank">
              <svg class="footer-socials-icon" width="40" height="40">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="footer-socials-list">
          <li class="footer-socials-item-small">
            <a href="https://www.instagram.com/" class="footer-social-link" target="_blank">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item-small">
            <a href="https://www.linkedin.com" class="footer-social-link" target="_blank">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item-small">
            <a href="https://www.youtube.com" class="footer-social-link" target="_blank">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a href="tel:+380999091122" class="footer-tel"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="footer-address-item">
            <a href="mailto:hello@ecotote.com" class="footer-email"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <p class="footer-copyright">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>