<header class="header">
  <div class="header-container">
    <div class="header-box">
      <a href="index.html" class="header-logo-link">
        <img
          class="header-logo"
          src="/img/logo.svg"
          alt="company-logo"
          width="84"
          height="36"
        />
      </a>
      <a href="index.html" class="header-logo-link-big">
        <img
          class="header-logo-big"
          src="/img/logo.svg"
          alt="company-logo"
          width="107"
          height="46"
        />
      </a>
      <nav>
        <ul class="nav-list">
          <li class="nav-item"><a href="#hero">Про нас</a></li>
          <li class="nav-item"><a href="#advantages">Переваги</a></li>
          <li class="nav-item"><a href="#product">Асортимент</a></li>
          <li class="nav-item"><a href="#gallery">Галерея</a></li>
          <li class="nav-item"><a href="#reviews">Відгуки</a></li>
          <li class="nav-item"><a href="#contact">Контакти</a></li>
        </ul>
      </nav>
      <address class="header-contacts">
        <a href="tel:380999091122" class="contacts-item">+38 (099) 909 11 22</a>
        <a href="mailto:hello@ecotote.com" class="contacts-item"
          >hello@ecotote.com</a
        >
      </address>
      <button type="button" class="header-burger" data-menu-open>
        <svg width="32" height="32" class="header-burger-icon">
          <use href="/img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile-menu" data-menu>
    <a href="index.html" class="mobile-menu-logo-link">
      <img
        class="mobile-menu-logo"
        src="/img/logo.svg"
        alt="company-logo"
        width="84"
        height="36"
      />
    </a>
    <button type="button" class="mobile-menu-close" data-menu-close>
      <svg width="32" height="32" class="mobile-menu-close-icon">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav>
      <ul class="mobile-menu-nav">
        <li class="mobile-menu-nav-item">
          <a href="#hero">Про нас</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#advantages">Переваги</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#product">Асортимент</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#gallery">Галерея</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#reviews">Відгуки</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#contact">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="mobile-menu-contacts">
      <a href="tel:380999091122" class="mobile-menu-contacts-item"
        >+38 (099) 909 11 22</a
      >
      <a href="mailto:hello@ecotote.com" class="mobile-menu-contacts-item"
        >hello@ecotote.com</a
      >
    </address>
  </div>
</header>
